/*DEFINICION DE VARIABLES*/
$colorGold:goldenrod;
$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
@mixin medidas($width, $height){
    width: $width;
    height: $height;
}

/*Contacto*/
#flexCheckDefault{
    &:checked{
        background-color: $colorGold;
        @include medidas(20px, 20px);
    }
}

/*--------------------------------------------------
    'NOSOTROS' Y 'OBTENE FRANQUICIA' COMPARTEN ESTILOS
    USO DE SINTAXIS SCSS
--------------------------------------------------*/
.main-content{
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: #556B2F;
    box-shadow: $boxShadow;

    h1{
        color: $colorGold;
    }

    div{
        p{
            color: $colorGold;
        }
    }
}

#iframe-info{
    margin-top: 2%;
    height: 400px;

    iframe{
        height: 100%;
        width: 100%;
        box-shadow: $boxShadow;
    }
}
/*---------------------------------------------------------------------------
    'NOSOTROS' Y 'OBTENE FRANQUICIA' COMPARTEN ESTILOS
    USO DE SINTAXIS SCSS
-----------------------------------------------------------------------------*/


/*
A CONTINUACION APARECE EL CSS ORIGINAL DEL PROYECTO
PARA NO REESCRIBIR EL CODIGO NUEVAMENTE
*/

body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    position: relative;
    min-height: 1000px;
}

/*----------------------------------------------MENU DE NAVEGACION Y LOGO----------------------------------------------*/
#div-menu-content{
    padding: 0;
    flex-wrap: nowrap;
    margin-right: 2%;
}

header{   
    background-color: #556B2F;
    box-shadow: $boxShadow;
}

#div-menu-content{
    a{
        img{
            @include medidas(250px, 150px);
        }
    }
}

#btn-menu{
    background-color: $colorGold;
    border: solid 1px black;
    box-shadow: $boxShadow;
}

#lst-menu{    
    background-color: $colorGold;
    border: solid 1px black;
    box-shadow: $boxShadow;
}

#item-menu{
    color: #556B2F;
    &:hover{
        background-color: #556B2F; 
        color: $colorGold;
    }
}

.titulo-principal{
    font-family: 'Fasthand', cursive;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 140px;
    text-align: center;
    color: #556B2F;
    text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px $colorGold;
}

/*----------------------------------------------FOOTER----------------------------------------------*/
footer{
    margin-top: 3%;
    height: 150px;
    width: 100%;
    background-color: #556B2F;
    
    h5{
        display: block;
        text-align: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        color: $colorGold;
    }
    
    .redes{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        position: relative;
        width: auto;
        margin-left: 42%;
        margin-right: 42%;
        top: 35%;

        a{
            text-decoration: none;
 
            .redes-icons{
                fill: #Daa520;

                &:hover{
                    fill: beige;
                }
            }
        }
    }
}
/*----------------------------------------------FOOTER----------------------------------------------*/

/*----------------------------------------------HOME----------------------------------------------*/
#main-principal{
    
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    
    #nosotros{
        background-image: url(../img/nosotrosAlternative.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        padding: 0;
        box-shadow: $boxShadow;
        
        #nosotros-enlace{
            display: block;
            text-decoration: none;
            text-align: center;
            position: relative;
            height: 600px;
            width: 100%;

            p{
                position: relative;
            }
        }
    }
    
    #cerv-franq{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 500px;
        margin-top: 3%;
        padding: 0;

        #cervezas{
            background-image: url(../img/cervezas.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: -100px;
            width: 49%;
            position: relative;
            box-shadow: $boxShadow;

            #cerveza-enlace{
                display: block;
                position: absolute;
                text-decoration: none;
                text-align: center;
                width: 100%;
                height: 100%;

                p{
                    position: relative;
                }
            }
        }
    
        #obtene-franquicia{
            background-image: url(../img/franquicia.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: -100px;
            width: 49%;
            text-decoration: none;
            position: relative;
            box-shadow: $boxShadow;

            #franquicia-enlace{
                display: block;
                text-decoration: none;
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;

                p{
                    position: relative;
                }
            }
        }
    }
    
    #ubicaciones{
        background-image: url(../img/ubicaciones.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -150px;
        margin-top: 3%;
        height: 300px;
        width: auto;
        position: relative;
        padding: 0;
        margin-left: 10%;
        margin-right: 10%;
        box-shadow: $boxShadow;
        
        #ubicaciones-enlace{
            display: block;
            text-decoration: none;
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            
            p{
                position: relative;
            }
        }
    }
    
    #contacto{
        background-image: url(../img/contacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -70px;
        margin-top: 3%;
        height: 300px; 
        width: auto;
        position: relative;
        padding: 0;
        margin-left: 10%;
        margin-right: 10%;
        box-shadow: $boxShadow;
        
        #contacto-enlace{
            display: block;
            text-decoration: none;
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            
            p{    
                position: relative;
                text-align: center;
            }
        }
    }
    
    /*ESTILOS DE LOS ENLACES PRINCIPALES*/
    .enlace-principal{
        font-family: 'Fasthand', cursive;
        font-size: 100px;
        color: gold;
        top: 20%;
        position: relative;
    }
}

/*----------------------------------------------HOME----------------------------------------------*/

/*--------------------------------------------NUESTRAS CERVEZAS----------------------------------------------*/
#main-nuestras-cervezas{
    width: auto;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    position: relative;
    
    #contenedor-galeria{
        display: flex;
        max-width: 900px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 2%;
    
        .cerveza-contenedor{
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;

            img{
                width: 200px;
                height: 400px;
            }
        }
    }

    #informacion{
        overflow: auto;
        position: fixed;
        right: 3%;
        width: 300px;
        height: 200px;
        border: solid 2px $colorGold;
        background-color: #556B2F;
        color: $colorGold;
        box-shadow: $boxShadow;
    }
}

.info-cerveza{
    display: inline;
    margin-left: 40%;

    .icon-info-cerv{
        fill: #Daa520;

        &:hover{
            cursor: pointer;
            fill: beige;
        }
    }
}


.card-body{
    background-color: #556B2F;
    box-shadow: $boxShadow;

    h5{
        color: $colorGold;
    }

    .card-text{
        color: $colorGold;
    }
}
/*--------------------------------------------NUESTRAS CERVEZAS----------------------------------------------*/

/*--------------------------------------------UBICACIONES----------------------------------------------*/
.map-content{
    padding: 10px;
    background-color: #556B2F;
    border: solid 3px $colorGold;
    box-shadow: $boxShadow;
    margin-bottom: 2%;

    iframe{
        width: 100%;
        height: 200px;
    }

    .description-map{
        color: $colorGold;
    }
}
/*--------------------------------------------UBICACIONES----------------------------------------------*/

/*--------------------------------------------CONTACTO----------------------------------------------*/
#div-contacto{
    margin-top: 4%;
    min-height: 800px;

    h3{
        color: #556B2F;
        background-color: $colorGold;
    }
}

#formulario{
    background-color: #556B2F;
    border-radius: 5px;
    padding: 5px;
    box-shadow: $boxShadow;

    #floatingTextarea{
        min-height: 100px;
    }
    
    #btn-enviar-form{
        background-color: $colorGold;
    }
    
    #chek-lbl{
        color: $colorGold;
    }
    
    #email-div{
        display: none;
        fill: $colorGold;
    }
}

/*--------------------------------------------CONTACTO----------------------------------------------*/

/*----------------------------------------------RESPONSIVE----------------------------------------------*/
@media(max-width: 500px){
    #nosotros{
        height: 300px;
        
        #nosotros-enlace{
            height: 300px;
        }
    }

    #main-principal{

        .enlace-principal{
            font-size: 70px;
        }

        #cerv-franq{
            display: block;
            width: 100%;
            height: auto;
            
            #cervezas{
                width: 100%;
                height: 300px;
                background-size: 600px 300px;
            }

            #obtene-franquicia{
                width: 100%;
                height: 300px;
                margin-top: 3%;
                background-size: 600px 300px;
            }
        }
        
        #ubicaciones{
            background-position-y: 0px;
            background-position-x: -60px;
            margin-left: 0;
            margin-right: 0;
        }
        
        #contacto{
            background-position-y: 0px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    #div-menu-content{
        a{
            img{
                height: 100px;
                width: 170px;
            }
        }
    }

    #main-nuestras-cervezas{
        display: block;
        
        #informacion{
            position: relative;
            width: auto;
            right: 0;
        }
    }

    .titulo-principal{
        font-size: 100px;
    }
}

@media(min-width: 501px) and (max-width: 1300px){
    
    #main-principal{

        #ubicaciones{
            background-position-y: 0px;
        }

        .enlace-principal{
            font-size: 85px;
        }
    }

    #contacto{
        background-position-y: -40px;
    }

    
    #main-nuestras-cervezas{
        display: block;
    }
    
    #informacion{
        position: relative;
        width: auto;
        right: 0;
    }
}

@media(max-width: 630px){
    .redes{
        margin-left: 37%;
        margin-right: 37%;
    }
}