/*DEFINICION DE VARIABLES*/
/*Contacto*/
#flexCheckDefault:checked {
  background-color: goldenrod;
  width: 20px;
  height: 20px;
}

/*--------------------------------------------------
    'NOSOTROS' Y 'OBTENE FRANQUICIA' COMPARTEN ESTILOS
    USO DE SINTAXIS SCSS
--------------------------------------------------*/
.main-content {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  background-color: #556B2F;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.main-content h1 {
  color: goldenrod;
}
.main-content div p {
  color: goldenrod;
}

#iframe-info {
  margin-top: 2%;
  height: 400px;
}
#iframe-info iframe {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/*---------------------------------------------------------------------------
    'NOSOTROS' Y 'OBTENE FRANQUICIA' COMPARTEN ESTILOS
    USO DE SINTAXIS SCSS
-----------------------------------------------------------------------------*/
/*
A CONTINUACION APARECE EL CSS ORIGINAL DEL PROYECTO
PARA NO REESCRIBIR EL CODIGO NUEVAMENTE
*/
body {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  position: relative;
  min-height: 1000px;
}

/*----------------------------------------------MENU DE NAVEGACION Y LOGO----------------------------------------------*/
#div-menu-content {
  padding: 0;
  flex-wrap: nowrap;
  margin-right: 2%;
}

header {
  background-color: #556B2F;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#div-menu-content a img {
  width: 250px;
  height: 150px;
}

#btn-menu {
  background-color: goldenrod;
  border: solid 1px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#lst-menu {
  background-color: goldenrod;
  border: solid 1px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#item-menu {
  color: #556B2F;
}
#item-menu:hover {
  background-color: #556B2F;
  color: goldenrod;
}

.titulo-principal {
  font-family: "Fasthand", cursive;
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: 140px;
  text-align: center;
  color: #556B2F;
  text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px goldenrod;
}

/*----------------------------------------------FOOTER----------------------------------------------*/
footer {
  margin-top: 3%;
  height: 150px;
  width: 100%;
  background-color: #556B2F;
}
footer h5 {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: goldenrod;
}
footer .redes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;
  width: auto;
  margin-left: 42%;
  margin-right: 42%;
  top: 35%;
}
footer .redes a {
  text-decoration: none;
}
footer .redes a .redes-icons {
  fill: #Daa520;
}
footer .redes a .redes-icons:hover {
  fill: beige;
}

/*----------------------------------------------FOOTER----------------------------------------------*/
/*----------------------------------------------HOME----------------------------------------------*/
#main-principal {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  /*ESTILOS DE LOS ENLACES PRINCIPALES*/
}
#main-principal #nosotros {
  background-image: url(../img/nosotrosAlternative.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#main-principal #nosotros #nosotros-enlace {
  display: block;
  text-decoration: none;
  text-align: center;
  position: relative;
  height: 600px;
  width: 100%;
}
#main-principal #nosotros #nosotros-enlace p {
  position: relative;
}
#main-principal #cerv-franq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
  margin-top: 3%;
  padding: 0;
}
#main-principal #cerv-franq #cervezas {
  background-image: url(../img/cervezas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -100px;
  width: 49%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#main-principal #cerv-franq #cervezas #cerveza-enlace {
  display: block;
  position: absolute;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
}
#main-principal #cerv-franq #cervezas #cerveza-enlace p {
  position: relative;
}
#main-principal #cerv-franq #obtene-franquicia {
  background-image: url(../img/franquicia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -100px;
  width: 49%;
  text-decoration: none;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#main-principal #cerv-franq #obtene-franquicia #franquicia-enlace {
  display: block;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
#main-principal #cerv-franq #obtene-franquicia #franquicia-enlace p {
  position: relative;
}
#main-principal #ubicaciones {
  background-image: url(../img/ubicaciones.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
  margin-top: 3%;
  height: 300px;
  width: auto;
  position: relative;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#main-principal #ubicaciones #ubicaciones-enlace {
  display: block;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
#main-principal #ubicaciones #ubicaciones-enlace p {
  position: relative;
}
#main-principal #contacto {
  background-image: url(../img/contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -70px;
  margin-top: 3%;
  height: 300px;
  width: auto;
  position: relative;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#main-principal #contacto #contacto-enlace {
  display: block;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
#main-principal #contacto #contacto-enlace p {
  position: relative;
  text-align: center;
}
#main-principal .enlace-principal {
  font-family: "Fasthand", cursive;
  font-size: 100px;
  color: gold;
  top: 20%;
  position: relative;
}

/*----------------------------------------------HOME----------------------------------------------*/
/*--------------------------------------------NUESTRAS CERVEZAS----------------------------------------------*/
#main-nuestras-cervezas {
  width: auto;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  position: relative;
}
#main-nuestras-cervezas #contenedor-galeria {
  display: flex;
  max-width: 900px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2%;
}
#main-nuestras-cervezas #contenedor-galeria .cerveza-contenedor {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#main-nuestras-cervezas #contenedor-galeria .cerveza-contenedor img {
  width: 200px;
  height: 400px;
}
#main-nuestras-cervezas .card-body {
  background-color: #556B2F;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#main-nuestras-cervezas .card-body .info-cerveza {
  display: inline;
  margin-left: 40%;
}
#main-nuestras-cervezas .card-body .info-cerveza .icon-info-cerv {
  fill: #Daa520;
}
#main-nuestras-cervezas .card-body .info-cerveza .icon-info-cerv:hover {
  cursor: pointer;
  fill: beige;
}
#main-nuestras-cervezas .card-body h5 {
  color: goldenrod;
}
#main-nuestras-cervezas .card-body .card-text {
  color: goldenrod;
}
#main-nuestras-cervezas #informacion {
  overflow: auto;
  position: fixed;
  right: 3%;
  width: 300px;
  height: 200px;
  border: solid 2px goldenrod;
  background-color: #556B2F;
  color: goldenrod;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------NUESTRAS CERVEZAS----------------------------------------------*/
/*--------------------------------------------UBICACIONES----------------------------------------------*/
.map-content {
  padding: 10px;
  background-color: #556B2F;
  border: solid 3px goldenrod;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 2%;
}
.map-content iframe {
  width: 100%;
  height: 200px;
}
.map-content .description-map {
  color: goldenrod;
}

/*--------------------------------------------UBICACIONES----------------------------------------------*/
/*--------------------------------------------CONTACTO----------------------------------------------*/
#div-contacto {
  margin-top: 4%;
  min-height: 800px;
}
#div-contacto h3 {
  color: #556B2F;
  background-color: goldenrod;
}

#formulario {
  background-color: #556B2F;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#formulario #floatingTextarea {
  min-height: 100px;
}
#formulario #btn-enviar-form {
  background-color: goldenrod;
}
#formulario #chek-lbl {
  color: goldenrod;
}
#formulario #email-div {
  display: none;
  fill: goldenrod;
}

/*--------------------------------------------CONTACTO----------------------------------------------*/
/*----------------------------------------------RESPONSIVE----------------------------------------------*/
@media (max-width: 500px) {
  #nosotros {
    height: 300px;
  }
  #nosotros #nosotros-enlace {
    height: 300px;
  }
  #main-principal .enlace-principal {
    font-size: 70px;
  }
  #main-principal #cerv-franq {
    display: block;
    width: 100%;
    height: auto;
  }
  #main-principal #cerv-franq #cervezas {
    width: 100%;
    height: 300px;
    background-size: 600px 300px;
  }
  #main-principal #cerv-franq #obtene-franquicia {
    width: 100%;
    height: 300px;
    margin-top: 3%;
    background-size: 600px 300px;
  }
  #main-principal #ubicaciones {
    background-position-y: 0px;
    background-position-x: -60px;
    margin-left: 0;
    margin-right: 0;
  }
  #main-principal #contacto {
    background-position-y: 0px;
    margin-left: 0;
    margin-right: 0;
  }
  #div-menu-content a img {
    height: 100px;
    width: 170px;
  }
  #main-nuestras-cervezas {
    display: block;
  }
  #main-nuestras-cervezas #informacion {
    position: relative;
    width: auto;
    right: 0;
  }
  .titulo-principal {
    font-size: 100px;
  }
}
@media (min-width: 501px) and (max-width: 1300px) {
  #main-principal #ubicaciones {
    background-position-y: 0px;
  }
  #main-principal .enlace-principal {
    font-size: 85px;
  }
  #contacto {
    background-position-y: -40px;
  }
  #main-nuestras-cervezas {
    display: block;
  }
  #main-nuestras-cervezas #informacion {
    position: relative;
    width: auto;
    right: 0;
  }
}
@media (max-width: 630px) {
  .redes {
    margin-left: 37%;
    margin-right: 37%;
  }
}/*# sourceMappingURL=main.css.map */